<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <h1 class="mt-4">GuestBook 목록 페이지
            <span>
                <a th:href="@{/guestbook/register}">
                    <button type="button" class="btn btn-outline-primary">등록</button>
                </a>
            </span>
        </h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <td scope="col">#</td>
                <td scope="col">글제목</td>
                <td scope="col">작성자</td>
                <td scope="col">날짜</td>
            </tr>
            </thead>
            <tbody>

            <tr th:each="dto:${result.dtoList}">
                <th scope="row">
                    <a th:href="@{/guestbook/read(gno = ${dto.gno}, page= ${result.page})}">[[${dto.gno}]]</a>
                </th>
                <td>[[${dto.title}]]</td>
                <td>[[${dto.writer}]]</td>
                <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
            </tr>
            </tbody>
        </table>

        <!--페이지의 이전(previous)와 다음(next)부분은 if를 이용해 처리-->
        <ul class="pagination h-100 justify-content-center align-items-center">
            <!--현재 페이지 여부를 체크해 'active'라는 이름의 클래스가 출력되도록 작성-->
            <li class="page-item" th:if="${result.prev}">
                <!--이전(previous)의 경우 PageResultDTO의 start 값에서 1적은 값으로 지정-->
                <a class="page-link" th:href="@{/guestbook/list(page= ${result.start -1})}" tabindex="-1">Previous</a>
            </li>

            <li th:class=" 'page-item' + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
                <a class="page-link" th:href="@{/guestbook/list(page = ${page})}">
                    [[${page}]]
                </a>
            </li>
            <!--현재 페이지 여부를 체크해 'active'라는 이름의 클래스가 출력되도록 작성-->
            <li class="page-item" th:if="${result.next}">
                <!--다음(next)의 경우 PageResultDTO의 end 값에서 1큰 값으로 지정-->
                <a class="page-link" th:href="@{/guestbook/list(page = ${result.end +1})}">Next</a>
            </li>
        </ul>

        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>변경 사항이 저장되었습니다 (아직은 변경 저장 버튼 비활성화)</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">변경사항 저장</button>
                        <button type="button" class="btn btn-primary">닫기</button>
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript">
            <!--등록 후 전달되는 msg 값을 확인한다-->
            var msg = [[${msg}]];

            console.log(msg);

            <!--등록후 msg 변수에 새로 생성된 글의 번호가 할당 -> msg 변수의 값을 이용해 모달창을 실행한다-->
            if(msg){
                $(".modal").modal();
            }
        </script>

    </th:block>

</th:block>
</html>